<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuxin.study.mapper.PetMapper" >


    <select id="queryPetByName" resultType="com.chuxin.study.model.Pet">
        select * from pet where name = #{name}
    </select>



</mapper>